.DS_Store
*.class
*.log
*~

# sbt specific
dist/*
target/
project/project/
project/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project
.settings
classes/
.dotty-ide*

# idea
.idea
.idea_modules
/.worksheet/

# Commonly used when testing compiler output
a.s
a.out